* {

	margin:0;
	padding:0;

}

body {

	background-color: #0B0B0B ;

}

#serie{
	margin-top: 8vh;	
	margin-left: 20vw;
	color: white;
	display:flex;

}

#serie > div{

	padding: 3vw;

}

#serie > div img {

	border: 2px solid #ffd700 ;

}

#serie-block {
	border: 1px solid #ffd700 ;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
	text-align: center;
}

#serie-block input {

	margin-top: 5%;
	background-color: white;
	border: 1px solid white ;

}

.click-button {

	cursor: pointer;
}