<!DOCTYPE HTML>

<html>

<head>

	<title>Login</title>
	<link rel="stylesheet" href="/css/auth.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/footer.css">
	<% include('functions');  %>
</head>

<body>

	<%- include('header');  %>



	<%- setAuth('login')%>

	<%- include('footer');  %>
	<script src="/js/redirects.js"></script>	
</body>



</html>
