<footer>
	<div id="all-containers">
		
		<div id="clicks">

        		<p>Home</p>
			<p>About</p>
			<p>Suport</p>
                	<p>Terms</p>
			<p>Privacy</p>
                	<p>FAQ</p>
			<p>Cookie</p>

		</div>

		<div id="final-informations">

			<p>Created by: Alison Fracasso Savi</p>

		</div>

	</div>

</footer>
