


<nav>

        <div id="container">
            <div id="logo">
                <i onclick="home()">MySeriesList</i>
            </div>
            <div id="itens">
                <% if (locals.user != undefined) { %>
                <i><%=locals.user.name%></i>
                <i onclick="rtoprofile()">Perfil</i>
                <i onclick="logout()">Logout</i>
		<%} else { %>
                        <i onclick="login()">Login</i>
                        <i onclick="signup()">Sign up</i>
                <% } %>
            </div>

        </div>

    </nav>


